.Table {
    margin: 20px 0 0 30px;
}
Table {
    margin: 10px 0 10px 0;
}
.Table Button.delete {
    background-color: brown;
    border-color: brown;
}

Button.delete:hover {
    color: brown;
    background-color: rgb(250, 246, 246);
    border-color: brown;
}

Button.edit {
    background-color: rgb(7, 87, 15);
    border-color: rgb(7, 87, 15);
}

Button.edit:hover, Button.edit:active, Button.edit:focus {
    background-color: rgb(246, 249, 246);
    color: rgb(7, 87, 15);
    border-color: rgb(7, 87, 15);
}

Button.details {
    background-color: rgb(228, 126, 24);
    border-color: rgb(228, 126, 24);
}

Button.details:hover, Button.details:active, Button.details:focus {
    background-color: rgb(246, 249, 246);
    color: rgb(228, 126, 24);
    border-color: rgb(228, 126, 24);
}